.menu-tigger, 
.menu-tigger span{
    display: inline-block;
    transition: all 0.4s;
}
.menu-tigger{
    position: relative;
    width: 50px;
    height: 44px;
    cursor: pointer;
}
.menu-tigger span{
    /*border: 1px solid black;*/
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}
span:nth-of-type(1){ top: 0;}
span:nth-of-type(2){ top: 20px;}
span:nth-of-type(3){ bottom: 0;}

#menu01:hover span:nth-of-type(1){
    transform: translateY(20px) rotate(-135deg);
    background: tomato;
}
#menu01:hover span:nth-of-type(2){
    opacity: 0;
}
#menu01:hover span:nth-of-type(3){
    transform: translateY(-20px) rotate(135deg);
    background: tomato;
}